/* color palette */
$blue: #004dfc;
$white: #ffffff;
$black: #000000;

$primary-background-color: #f3f6fb;
$primary-text-color: #000000;
$border-color: #dae4ef;

/* default spacing size */
$spacing: 8px;

/* media breakpoints */
$small-device: 400px;
$medium-device: 700px;
