@use '~styles/helpers';
@import '~styles/variables';

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include helpers.rounded-corners(1);
  margin-right: $spacing * 2;
  flex-grow: 1;
  padding: $spacing;
  height: 34px;
  margin: $spacing $spacing * 2;
}
