@use '~styles/helpers';
@import '~styles/variables';

.send-message-box {
  background-color: $white;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  border-radius: $spacing;
  padding: $spacing * 2;
  display: flex;

  &__textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0 $spacing * 2;
    flex-grow: 1;
    padding: $spacing;
    height: 34px;
    resize: none;
  }
}
